html {
	font-size: 12pt;
	font-family: "Calibri", "Open Sans", sans-serif;
	color: #fadafa;
	background-color: #232323;
}

body {
	margin: 0 auto;
	
}

/* unvisited links */
a:link {
	color: #efceef;
}

/* link the user is currently pointing to */
a:hover {
	color: #fafcaa;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

#wrapper {
	width: 100%;
	background-color: #171717;
}

#intro {
	width: 80%;
	margin: auto;
	/* later. background-color: ; */
}

/*
	I should probably do
	body maintenance before
	writing the rest of this... Meh
*/

/* Commented out for use as a re-learning playground

html {
	font-size: 12pt;
	font-family: "Calibri", "Open Sans", sans-serif;
	color: #acacac;
	background-color: #131313;
}

body {
	color: #acacac;
	background-color: #131313;
}
}

#wrapper {
	width: 80vw;
	border: 2px red solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

	#intro {
		width: 70vw;
		border: 1px green solid;
	}

	#content {
		width: 70vw;
		border: 1px green solid;
	}
*/